.product-list {
    display: grid;
    margin-top: $space;
    grid-template-columns: 1fr;
    
    @media (min-width: $break-sm) {
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $break-lg) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__item {
        a {
            display: block;
            color: $grey-dark;
            padding: $space;
            border: 5px solid transparent;
            &:hover {
                text-decoration: none;
                border-color: $grey-verylight;
            }
        }
        &--name {
            font-weight: $fw-medium;
        }
        &--price {
            
            font-weight: $fw-bold;
        }
    }
}