.product-list {
    display: grid;
    margin-top: $space;
    grid-template-columns: 1fr;
    
    @media (min-width: $break-sm) {
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $break-lg) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__item {
        position: relative;

        a {
            display: block;
            color: $grey-dark;
            padding: $space;
            border: 5px solid transparent;
            &:hover {
                text-decoration: none;
                border-color: $grey-verylight;
            }
        }
        &.out-of-stock a:hover {
            border-color: $red;
        }

        &--name {
            font-weight: $fw-medium;
        }
        &--price {
            
            font-weight: $fw-bold;
        }
        span.out-of-stock {
            @include font-size(14px);
            position: absolute;
            top:0;
            background-color: $red;
            color: $white;
            width:100%;
            text-align: center;
            padding: 3px;
        }
    }
}